.title{
  width:84%;
  margin:auto;
}
.titlogo{
  font-size: 38px;
  font-weight: bold;
}
.hamburgerbar{
  display:none;
}
.hamnav {
  display: none;
}
.hamnavTrue {
  display: none;
}
.topRightTitle {
  float:right; height:54px; display:table;
}
.topImageDiv {
  margin-top:10px;
  width:100%;
  height:400px;
}
.topImage {
  object-fit: cover;
  width:100%;
  height:400px;
}
.describtion {
  width:86%;
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #8469C3;
  font-size: 45px;
}
.detailed {
  width:84%;
  max-width: 900px;
  margin:auto;
}
.howItWorks {
  width:33%;
  float:left;
  text-align: center;
  margin-top:40px;

}
.roundPic {
  width:200px;
  height:200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 150px;
  border-color: black;
  margin:auto;
}
.details {
  width:80%;
  margin:auto;
}

.Slider {
	position: relative;
  width: 100%;
	height: 260px;
	overflow: hidden

}



.nextButton {
  margin-left:80px;
  cursor: pointer;
}

.previousButton {
  margin-right:80px;
  cursor: pointer;
}

.sliderHouse {
  width:100%;
  background-color:rgb(137, 150, 223);
  text-align:center;
  margin-top:50px;
 
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.slideTitle {
  color:white;
  font-size: 30px;
  text-align:left;
  margin-left:10%;
}
.slideArticle {
  color:white;
  width:78%;
  margin:auto;
  text-align: left;
}
.notReleased {
  width:100%;
  height:100%;
  background-color: black;
  position:fixed;
  top:0px;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.none {
  display:none;
}
.box {
  margin-top:100px;
  width:200px;
  background-color: whitesmoke;
  margin-left:auto;
  margin-right:auto; 
  border-radius: 10px;
}



@media screen and (max-width: 900px){
  .title{
    width:94%;
    margin:auto;
  }
  .titlogo{
    font-size: 28px;
    font-weight: bold;
  }
  .hamburgerbar {
    display: block;
    float:right;
    font-size: 26px;
    padding:4px 10px;
    cursor: pointer;
  }
.hamnav {
  display: none;
}
.hamnavTrue {
  display: block;
  position: absolute;
  width:100%;
  background-color:white;
}
.topRightTitle {
  float:right; height:18px; display:table;
}
.topImageDiv {
  margin-top:8px;
  width:100%;
  height:260px;
}
.topImage {
  object-fit: cover;
  width:100%;
  height:260px;
}
.describtion {
  margin-top:20px;
  width:74%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  color: #8469C3;
  font-size: 32px;
}
.detailed {
  width:90%;
  margin:auto;
}
.howItWorks {
  width:96%;
  text-align:center;
  
}
.roundPic {
  width:200px;
  height:200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 150px;
  border-color: black;
  margin:auto;
}
.details {
  width:80%;
  margin:auto;
}
.sliderHouse {
  width:100%;
  background-color:#8469C3;
  text-align:center;
  margin-top:50px;
}


}